@{
    ViewData["Title"] = "Home Page";
}

Šioje Area (default) galima pamatyti kategorijų sąrašą <label class="btn btn-default">
    <a asp-area="" asp-controller="Category" asp-action="Index" target="_blank">Go to category index</a>
</label>. 
Pasirinkus "Details" matomos priskirtos vaikinės kategorijoss ir priskirti daiktai (items) 
ir breadcrumbs. Pasirinkus Item/Detais ir vėliau Edit galima redaguoti visus Item parametrus.
